/* COMMON */

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* TASK 1 */

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  background-color: #f6f6fe;
}

.item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

.item ul li {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  width: 360px;
  height: 40px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #212121;
  padding: 8px 16px;
}

/* TASK 2 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 48px 24px;
  margin: 0 auto;
}

.img-CSS {
  width: 360px;
  height: 300px;
}

/* TASK 3 */

#name-input {
  width: 360px;
  height: 40px;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 8px 16px;
}

/* TASK 4 */

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 16px;
}

.login-form label input {
  width: 360px;
  height: 40px;
  border: 1px solid #212121;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 12px;
}

.login-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #1a3ec4;
}

/* TASK 5  */

.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}

.change-color:hover {
  background-color: #1a3ec4;
  cursor: pointer;
}
